@import "bootstrap/scss/bootstrap";
@import "@fontsource/roboto";
@import "node_modules/@fortawesome/fontawesome-free/css/all.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
}

img {
    max-width: 100%;
}